/*works PC
========================= */

.works__container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 4rem;
}

.works__card {
  display: block;
  text-decoration: none;
  color: inherit;
}
.btn-more {
  border-bottom: 1px solid var(--color-bk);
  border-top: 1px solid var(--color-bk);
}

.works__img img {
  width: 100%;
  display: block;
}
.p-works {
  margin-bottom: 10rem;
}
.works__ttl {
  font-size: 1.4rem;
  padding-top: 1rem;
}
.works__date {
  font-size: 1.1rem;
  color: #bbb;
  padding-top: 0.5rem;
}

.works__btn {
  font-size: 1rem;
  padding-top: 1rem;
}

.p-works .seciton_sub-ttl-desc {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  .works__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .works__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .p-works.l-main {
    padding-top: 5rem;
    padding-left: 0rem;
  }
  .works__ttl {
    padding-top: 1.5rem;
  }
  .p-works {
    margin-bottom: 5rem;
  }
}
